@font-face {
    font-family: 'Consolas';
    src: url('fonts/Consolas.eot');
    src: url('fonts/Consolas.eot') format('eot'),
        url('fonts/Consolas.woff') format('woff'),
        url('fonts/Consolas.ttf') format('truetype'),
        url('fonts/Consolas.svg') format('svg');
}

body, #root, .apply-font
{
    background-color: #1F1F1F;
    color : #fff;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

.apply-font {
    font-family: "Consolas" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    padding: 0%;
    margin: 0%;
    max-width: 100%;
}

.info-container {
    background-color: #1f1f1f;
    padding: 2%;
    margin-top: 5px;
    margin-bottom: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

.fit {
    max-width: 100%;
    max-height: 100%;
}

.tags {
    font-family: Noto Sans, sans-serif, consolas;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
}

.tag {
    font-size: 1em;
    vertical-align: middle;
    display: inline-flex;
    margin: .13em;
    flex-direction: row;
    justify-content: center;
}

.name {
    display: flex;
    align-items: center;
    text-align: left;

    background-color: rgb(77, 77, 77);

    border-bottom-left-radius: 4.2px;  /* rounded corners on left side */
    border-top-left-radius: 4.2px;

    font-size: 14px;

    line-height: 20px;

    padding-bottom: 1.82px;
    padding-left: 5.46px;
    padding-right: 5.46px;
    padding-top: 1.82px;
}

.count {
    display: flex;
    align-items: center;
    text-align: left;

    color: rgb(128, 128, 128);
    background-color: rgb(51, 51, 51);

    border-bottom-right-radius: 3.78px; /* rounded corners on right side */
    border-top-right-radius: 3.78px;

    font-size: 12.6px;
    font-weight: 400;

    line-height: 18px;

    padding-bottom: 1.638px;
    padding-left: 3.276px;
    padding-right: 3.276px;
    padding-top: 1.82px;
}

a {
    color: #d9d9d9;
}

a:hover {
    color: #EE4864;
}

a, a:hover {
    background-color: transparent;
    text-decoration: none;
}

.link-bold-lite {
    color: #FFF;
    font-weight: 300;
}

.under-text {
    font-weight: 100;
    font-size: 14px;
}


input {
    background:#4D4D4D;
    color: #d9d9d9;

    border: none;
    outline: none;
}

input:hover {
    background-color: #666666;
}


button {
    border-radius: 5px;
    border: none;
    outline: none;
}



.file-container {
    display: inline-block;
    background-color: #1F1F1F;
    color:#FFF;

    /* width: 30%; */

    box-sizing: border-box;

    margin-bottom: 3px;
    margin-top: 3px;
    text-align: center;
    vertical-align: top;

    zoom: 1;
    margin-left: 2%;
    text-align: center;
}

.caption {
    top: 100%;
    left: 0;
    right: 0;

    width: 100%;
    background-color: #404040;
    color:#FFF;

    max-height: 10%;
    padding: 3px;
    display: block;
    text-align: center;
    text-decoration: none;

    /* overflow-y: scroll; */
    overflow-wrap: break-word;
}

.margin-center {
    display: table;
    margin-left: auto;
    margin-right: auto;
}
