



.content 
{
    box-sizing: inherit;
    display: table;
    height:80%;

    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

form
{   
    display: table-cell;
    vertical-align: middle;
}

.row {
    position: relative;
    height: 50px;
}

input, .row {
    min-width: 300px;
}


#pink-button {
    color: white;
    background-color: #ED2553;
}
#pink-button:hover {
    color: white;
    background-color: #EF3862;
    
}












