# $ pip install -r requirements.txt

uvicorn~=0.17.6
fastapi~=0.75.0
fastapi-login~=1.8.0
sqlalchemy~=1.4.32
bcrypt~=3.2.0
python-multipart~=0.0.5
numpy~=1.21.6
pillow~=9.1.1
opencv-python~=4.5.5.64

# NOTE - This is required, install manually using 'python setup.py install' after cloning the repo
# https://github.com/Minnowo/image-size-reader
# image-size-reader~=0.0.2